/* Style pour un bloc de code personnalisé avec fond noir */
.custom-terminal {
    background-color: #000000; /* Fond noir */
    color: #ffffff; /* Texte blanc */
    padding: 10px;
    border-radius: 5px;
    font-family: monospace;
    font-size: 12px
}
/* Override primary color */
:root  > * {
  --md-primary-fg-color:        #01A9F5;
  --md-primary-fg-color--light: #AEE8FC;
  --md-primary-fg-color--dark:  #0179B5;
}
